  <% obj.each do |user| %>
  <div>
  </div>
  </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="well well-lg">
            <div class="user-name">
              <%= user.name %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
